p {
    background-color: white;
    margin-top: 15px;
    margin-bottom:5px;
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 0 0 10px #9ecaed;
}

a {
    font-weight: bolder;
}